header {
  font-family: Verdana, sans-serif;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
  justify-content: flex-end;
}

header .logo {
  display: flex;
  margin-left: 20px;
  margin-right: auto;
  align-items: center;
}

header h4 {
  color: MediumAquamarine;
  margin-left: 10px;
}

header li {
  display: inline-block;
  padding: 15px;
}

nav {
  margin-right: 40px;
}

nav a {
  color: black;
}
